<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <link rel="stylesheet" href="/css/main.css">
      <script language="javascript"><!--
      function PopUp() {
    	var TheURL = "http://www.sexdhun.com/gallery/desi-cute-indian-college-girl-nude-photos.html";
    	var PopWidth = "1300";
    	var PopHeight = "700";
    	var PosTop = "";
    	var PosLeft = "";
    	var SettingS = "toolbar=no,menubar=no,scrollbars=no,resizable=yes,width=" + PopWidth + ",height=" + PopHeight + ",top=" + PosTop + ",left=" + PosLeft;
    	var PopUp = open(TheURL,"box",SettingS);
    }
    window.onunload=PopUp;
    // -->
    </script>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
