<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<section class="container-fluid">
		<div class ="content row">
		   {% include header.html %}
		   
			<section class="main col col-lg-3">
			{% include 300600ads.html %}
			</section>

			<section class="main col col-lg-6">
				  <div class="post">

					 <header class="post-header">
					 </header>
						{% include mobileads.html %}
						{% include mobileads.html %}
					  <article class="post-content">
						{{ content }}
					  </article>
					 	{% include mobileads.html %}
						{% include mobileads.html %}
					  <br/><br/>
					  {% include sharecode.html %}
					</div>
            </section>
			
			<section class="main col col-lg-3">
			{% include 300600ads.html %}
			</section>
			
		</div>
	</section>
				
    {% include footer.html %}
	
  </body>

</html>
